<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/projects/projects.css">
</head>
<body>
<table id="projectsTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Created At</th>
        <th>Project Actions</th>
        <th>Catalog Actions</th>
    </tr>
    </thead>
    <tbody id="projectsBody"></tbody>
</table>
<div class="create-container">
    <button onclick="window.location.href='/projects/build'" class="create-button">Create Project</button>
    <button onclick="window.location.href='/projects/catalogs/events/build'" class="create-event-button">Create Event</button>
</div>

<script src="/js/projects/projects.js"></script>
</body>
</html>