<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="/css/event/build.css">
</head>
<body>
<div class="container">
    <h1>Create Event</h1>
    <div class="form-group">
        <label for="projectSlug">Project Slug: <span class="required">*</span></label>
        <input type="text" id="projectSlug" required>
    </div>
    <div class="form-group">
        <label for="catalogSlug">Catalog Slug: <span class="required">*</span></label>
        <input type="text" id="catalogSlug" required>
    </div>
    <div class="form-group">
        <label for="name">Name: <span class="required">*</span></label>
        <input type="text" id="name" required>
    </div>
    <div class="form-group">
        <label for="parameters">Parameters (JSON): <span class="required">*</span></label>
        <textarea id="parameters" required></textarea>
    </div>
    <div class="form-group">
        <label for="localCreatedAt">Created At: <span class="required">*</span></label>
        <input type="datetime-local" id="localCreatedAt" required>
    </div>
    <div class="button-group">
        <button type="button" onclick="submitEventForm()" class="update-button">Create</button>
    </div>
</div>
<script src="/js/event/build.js"></script>
</body>
</html>